<form class="form-signup" [formGroup]="form" >
    <h2 class="form-signup-heading">Please sign up</h2>
    <div formGroupName="account">
        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input 
                formControlName="username"
                id="username"
                placeholder="Username"
                class="form-control" required autofocus>
            <div *ngIf="username.touched && username.invalid" class="alert alert-danger">Username is invalid.</div>
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input 
                formControlName="email"
                id="email" 
                placeholder="Email"
                class="form-control">
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Email is invalid.</div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input 
                formControlName="password"
                id="password" 
                placeholder="Password"
                class="form-control">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is invalid.</div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>