<div class="mat-toolbar-menu">
    <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToHome()">Home</button>
          <button mat-menu-item >Subscriptions</button>
          <button mat-menu-item (click)="authService.logout()">Logout</button>
        </mat-menu>
      </mat-toolbar>
</div>
<h2 style="text-align:center">Manage Subscriptions</h2>
<div>
    <mat-form-field>
        <mat-select placeholder="Blood Group" [(value)]="selected-group">
          <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup.value">
            {{ bloodGroup.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Location" [(value)]="selected-location">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{ location.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
            <button mat-button (click)="add()">Add</button>
        </div>
</div>
<div>
    <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-button>Delete</button>
    </div>
</div>
