<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)" [formGroup]="form">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="alert alert-danger">Invalid username and/or password.</div>
  <label for="inputUsername" class="sr-only">Username</label>
  <input formControlName="username" type="username" id="inputUsername" name="username" ngModel class="form-control" placeholder="Username"
    required required autofocus>
  <div *ngIf="username.touched && username.invalid" class="alert alert-danger">Username is invalid.</div>
  <label for="inputPassword" class="sr-only">Password</label>
  <input formControlName="password" type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
    required>
  <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is invalid.</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p>Don't you have an account?
    <a href="/signup">Sign up</a>
  </p>
</form>