.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 50%;
    align-self: center;
}

.create-donation-header {
    text-align: center;
    margin: 20px;
}
