<div class="mat-toolbar-menu">
    <mat-toolbar>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToHome()">Home</button>
        <button mat-menu-item (click)="goToSubscriptions()">Subscriptions</button>
        <button mat-menu-item (click)="authService.logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div>
      <h2 class="create-donation-header" >Create a Donation Request</h2>
  </div>
<div class="example-container">
  <mat-form-field>
    <mat-select placeholder="Blood Group" [(ngModel)]="bloodGroup">
      <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup.value">
        {{ bloodGroup.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="City" [(ngModel)]="city">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{ city.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Hospital" [(ngModel)]="hospital"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Contact" [(ngModel)]="contact"></textarea>
  </mat-form-field>
</div>
<div layout="example-button-row" style="text-align: center">
    <button mat-raised-button (click)="createDonation()">Submit</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</div>